body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2220px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:505px;
}
#u376 {
  position:absolute;
  left:83px;
  top:85px;
  width:830px;
  height:505px;
}
#u377 {
  position:absolute;
  left:2px;
  top:244px;
  width:826px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u378 {
  position:absolute;
  left:40px;
  top:25px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u379 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u380 {
  position:absolute;
  left:148px;
  top:1244px;
  width:314px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u381 {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1550px;
  height:286px;
}
#u382 {
  position:absolute;
  left:148px;
  top:1310px;
  width:1550px;
  height:286px;
}
#u383 {
  position:absolute;
  left:2px;
  top:135px;
  width:1546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1558px;
  height:730px;
}
#u384 {
  position:absolute;
  left:144px;
  top:1672px;
  width:1558px;
  height:730px;
}
#u385 {
  position:absolute;
  left:2px;
  top:357px;
  width:1554px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:692px;
}
#u386 {
  position:absolute;
  left:118px;
  top:1999px;
  width:1059px;
  height:692px;
}
#u387 {
  position:absolute;
  left:2px;
  top:338px;
  width:1055px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:832px;
}
#u388 {
  position:absolute;
  left:1147px;
  top:1833px;
  width:1073px;
  height:832px;
}
#u389 {
  position:absolute;
  left:2px;
  top:408px;
  width:1069px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1250px;
  height:542px;
}
#u390 {
  position:absolute;
  left:118px;
  top:619px;
  width:1250px;
  height:542px;
}
#u391 {
  position:absolute;
  left:2px;
  top:263px;
  width:1246px;
  visibility:hidden;
  word-wrap:break-word;
}
