body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1775px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:211px;
}
#u370 {
  position:absolute;
  left:55px;
  top:175px;
  width:1720px;
  height:211px;
}
#u371 {
  position:absolute;
  left:2px;
  top:98px;
  width:1716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:43px;
}
#u372 {
  position:absolute;
  left:55px;
  top:108px;
  width:554px;
  height:43px;
}
#u373 {
  position:absolute;
  left:2px;
  top:14px;
  width:550px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u374 {
  position:absolute;
  left:55px;
  top:30px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u375 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
