body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1805px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  line-height:36px;
}
#u24 {
  position:absolute;
  left:155px;
  top:105px;
  width:938px;
  height:144px;
  font-size:20px;
  line-height:36px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:938px;
  white-space:nowrap;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u26 {
  position:absolute;
  left:86px;
  top:34px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:86px;
  top:249px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B1361D;
}
#u30 {
  position:absolute;
  left:163px;
  top:316px;
  width:217px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B1361D;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1173px;
  height:670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u32 {
  position:absolute;
  left:163px;
  top:376px;
  width:1173px;
  height:670px;
  font-size:20px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:1173px;
  white-space:nowrap;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B1361D;
}
#u34 {
  position:absolute;
  left:195px;
  top:2136px;
  width:97px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B1361D;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:467px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
}
#u36 {
  position:absolute;
  left:593px;
  top:2207px;
  width:348px;
  height:467px;
}
#u37 {
  position:absolute;
  left:2px;
  top:226px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:195px;
}
#u38 {
  position:absolute;
  left:692px;
  top:2222px;
  width:157px;
  height:195px;
}
#u39 {
  position:absolute;
  left:2px;
  top:90px;
  width:153px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u40 {
  position:absolute;
  left:674px;
  top:2458px;
  width:186px;
  height:200px;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:467px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
}
#u42 {
  position:absolute;
  left:172px;
  top:2207px;
  width:366px;
  height:467px;
}
#u43 {
  position:absolute;
  left:2px;
  top:226px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u44 {
  position:absolute;
  left:227px;
  top:2442px;
  width:257px;
  height:200px;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:201px;
}
#u46 {
  position:absolute;
  left:253px;
  top:2218px;
  width:207px;
  height:201px;
}
#u47 {
  position:absolute;
  left:2px;
  top:92px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:467px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
}
#u48 {
  position:absolute;
  left:988px;
  top:2207px;
  width:348px;
  height:467px;
}
#u49 {
  position:absolute;
  left:2px;
  top:226px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u50 {
  position:absolute;
  left:1089px;
  top:2458px;
  width:186px;
  height:200px;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  word-wrap:break-word;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:213px;
}
#u52 {
  position:absolute;
  left:1069px;
  top:2222px;
  width:225px;
  height:213px;
}
#u53 {
  position:absolute;
  left:2px;
  top:98px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:467px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
}
#u54 {
  position:absolute;
  left:172px;
  top:2735px;
  width:348px;
  height:467px;
}
#u55 {
  position:absolute;
  left:2px;
  top:226px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u56 {
  position:absolute;
  left:253px;
  top:2986px;
  width:207px;
  height:200px;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:467px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
  -webkit-box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
  box-shadow:2px 2px 10px rgba(153, 153, 153, 0.349019607843137);
}
#u58 {
  position:absolute;
  left:593px;
  top:2735px;
  width:348px;
  height:467px;
}
#u59 {
  position:absolute;
  left:2px;
  top:226px;
  width:344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u60 {
  position:absolute;
  left:672px;
  top:2990px;
  width:205px;
  height:200px;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:217px;
}
#u62 {
  position:absolute;
  left:685px;
  top:2759px;
  width:194px;
  height:217px;
}
#u63 {
  position:absolute;
  left:2px;
  top:100px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:218px;
}
#u64 {
  position:absolute;
  left:268px;
  top:2754px;
  width:177px;
  height:218px;
}
#u65 {
  position:absolute;
  left:2px;
  top:101px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B1361D;
}
#u66 {
  position:absolute;
  left:163px;
  top:1046px;
  width:145px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B1361D;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1664px;
  height:1023px;
}
#u68 {
  position:absolute;
  left:141px;
  top:1085px;
  width:1664px;
  height:1023px;
}
#u69 {
  position:absolute;
  left:2px;
  top:504px;
  width:1660px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u70 {
  position:absolute;
  left:353px;
  top:1202px;
  width:185px;
  height:60px;
}
#u71 {
  position:absolute;
  left:2px;
  top:22px;
  width:181px;
  word-wrap:break-word;
}
#u72_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:60px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u72 {
  position:absolute;
  left:362px;
  top:1355px;
  width:198px;
  height:60px;
  line-height:20px;
}
#u73 {
  position:absolute;
  left:2px;
  top:10px;
  width:194px;
  word-wrap:break-word;
}
#u74_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u74 {
  position:absolute;
  left:353px;
  top:1509px;
  width:185px;
  height:60px;
}
#u75 {
  position:absolute;
  left:2px;
  top:22px;
  width:181px;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:353px;
  top:1800px;
  width:203px;
  height:60px;
}
#u77 {
  position:absolute;
  left:2px;
  top:22px;
  width:199px;
  word-wrap:break-word;
}
#u78_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u78 {
  position:absolute;
  left:353px;
  top:1900px;
  width:203px;
  height:60px;
  text-align:left;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  word-wrap:break-word;
}
#u80_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80 {
  position:absolute;
  left:609px;
  top:1202px;
  width:185px;
  height:60px;
}
#u81 {
  position:absolute;
  left:2px;
  top:22px;
  width:181px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:60px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u82 {
  position:absolute;
  left:596px;
  top:1355px;
  width:198px;
  height:60px;
  line-height:20px;
}
#u83 {
  position:absolute;
  left:2px;
  top:10px;
  width:194px;
  word-wrap:break-word;
}
#u84_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84 {
  position:absolute;
  left:603px;
  top:1509px;
  width:185px;
  height:60px;
}
#u85 {
  position:absolute;
  left:2px;
  top:22px;
  width:181px;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u86 {
  position:absolute;
  left:603px;
  top:1800px;
  width:185px;
  height:60px;
}
#u87 {
  position:absolute;
  left:2px;
  top:15px;
  width:181px;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u88 {
  position:absolute;
  left:603px;
  top:1900px;
  width:203px;
  height:60px;
  text-align:left;
}
#u89 {
  position:absolute;
  left:2px;
  top:15px;
  width:199px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  position:absolute;
  left:851px;
  top:1202px;
  width:185px;
  height:60px;
}
#u91 {
  position:absolute;
  left:2px;
  top:22px;
  width:181px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:60px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u92 {
  position:absolute;
  left:838px;
  top:1355px;
  width:198px;
  height:60px;
  line-height:20px;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:194px;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  position:absolute;
  left:844px;
  top:1509px;
  width:185px;
  height:60px;
}
#u95 {
  position:absolute;
  left:2px;
  top:22px;
  width:181px;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u96 {
  position:absolute;
  left:844px;
  top:1800px;
  width:185px;
  height:60px;
}
#u97 {
  position:absolute;
  left:2px;
  top:15px;
  width:181px;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u98 {
  position:absolute;
  left:844px;
  top:1900px;
  width:203px;
  height:60px;
  text-align:left;
}
#u99 {
  position:absolute;
  left:2px;
  top:15px;
  width:199px;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u100 {
  position:absolute;
  left:1077px;
  top:1202px;
  width:185px;
  height:60px;
}
#u101 {
  position:absolute;
  left:2px;
  top:22px;
  width:181px;
  word-wrap:break-word;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:60px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u102 {
  position:absolute;
  left:1077px;
  top:1365px;
  width:198px;
  height:60px;
  line-height:20px;
}
#u103 {
  position:absolute;
  left:2px;
  top:10px;
  width:194px;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u104 {
  position:absolute;
  left:1084px;
  top:1509px;
  width:185px;
  height:60px;
}
#u105 {
  position:absolute;
  left:2px;
  top:15px;
  width:181px;
  word-wrap:break-word;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u106 {
  position:absolute;
  left:1084px;
  top:1800px;
  width:185px;
  height:60px;
}
#u107 {
  position:absolute;
  left:2px;
  top:15px;
  width:181px;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  position:absolute;
  left:1077px;
  top:1900px;
  width:185px;
  height:60px;
}
#u109 {
  position:absolute;
  left:2px;
  top:15px;
  width:181px;
  word-wrap:break-word;
}
#u110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u110 {
  position:absolute;
  left:1315px;
  top:1202px;
  width:185px;
  height:60px;
}
#u111 {
  position:absolute;
  left:2px;
  top:22px;
  width:181px;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:60px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u112 {
  position:absolute;
  left:1302px;
  top:1365px;
  width:198px;
  height:60px;
  line-height:20px;
}
#u113 {
  position:absolute;
  left:2px;
  top:10px;
  width:194px;
  word-wrap:break-word;
}
#u114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u114 {
  position:absolute;
  left:1315px;
  top:1509px;
  width:185px;
  height:60px;
}
#u115 {
  position:absolute;
  left:2px;
  top:15px;
  width:181px;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  position:absolute;
  left:1315px;
  top:1800px;
  width:185px;
  height:60px;
}
#u117 {
  position:absolute;
  left:2px;
  top:22px;
  width:181px;
  word-wrap:break-word;
}
#u118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u118 {
  position:absolute;
  left:1315px;
  top:1906px;
  width:185px;
  height:60px;
}
#u119 {
  position:absolute;
  left:2px;
  top:22px;
  width:181px;
  word-wrap:break-word;
}
#u120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  position:absolute;
  left:1557px;
  top:1202px;
  width:185px;
  height:60px;
}
#u121 {
  position:absolute;
  left:2px;
  top:22px;
  width:181px;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:60px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u122 {
  position:absolute;
  left:1551px;
  top:1365px;
  width:198px;
  height:60px;
  line-height:20px;
}
#u123 {
  position:absolute;
  left:2px;
  top:20px;
  width:194px;
  word-wrap:break-word;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  position:absolute;
  left:1551px;
  top:1509px;
  width:185px;
  height:60px;
}
#u125 {
  position:absolute;
  left:2px;
  top:22px;
  width:181px;
  word-wrap:break-word;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u126 {
  position:absolute;
  left:1564px;
  top:1800px;
  width:185px;
  height:60px;
}
#u127 {
  position:absolute;
  left:2px;
  top:15px;
  width:181px;
  word-wrap:break-word;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u128 {
  position:absolute;
  left:1558px;
  top:1906px;
  width:185px;
  height:60px;
}
#u129 {
  position:absolute;
  left:2px;
  top:22px;
  width:181px;
  word-wrap:break-word;
}
#u130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:169px;
  background:inherit;
  background-color:rgba(237, 237, 237, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u130 {
  position:absolute;
  left:353px;
  top:1602px;
  width:107px;
  height:169px;
}
#u131 {
  position:absolute;
  left:2px;
  top:76px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:63px;
}
#u132 {
  position:absolute;
  left:417px;
  top:1617px;
  width:76px;
  height:63px;
}
#u133 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:78px;
}
#u134 {
  position:absolute;
  left:873px;
  top:1659px;
  width:73px;
  height:78px;
}
#u135 {
  position:absolute;
  left:2px;
  top:31px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:77px;
}
#u136 {
  position:absolute;
  left:1129px;
  top:1704px;
  width:87px;
  height:77px;
}
#u137 {
  position:absolute;
  left:2px;
  top:30px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:63px;
}
#u138 {
  position:absolute;
  left:658px;
  top:1620px;
  width:76px;
  height:63px;
}
#u139 {
  position:absolute;
  left:2px;
  top:24px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:78px;
}
#u140 {
  position:absolute;
  left:1355px;
  top:1659px;
  width:73px;
  height:78px;
}
#u141 {
  position:absolute;
  left:2px;
  top:31px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:77px;
}
#u142 {
  position:absolute;
  left:1607px;
  top:1702px;
  width:87px;
  height:77px;
}
#u143 {
  position:absolute;
  left:2px;
  top:30px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B1361D;
}
#u144 {
  position:absolute;
  left:181px;
  top:3289px;
  width:145px;
  height:29px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#B1361D;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u146 {
  position:absolute;
  left:181px;
  top:3562px;
  width:190px;
  height:81px;
  font-size:20px;
}
#u147 {
  position:absolute;
  left:2px;
  top:29px;
  width:186px;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u148 {
  position:absolute;
  left:436px;
  top:3562px;
  width:226px;
  height:81px;
  font-size:20px;
}
#u149 {
  position:absolute;
  left:2px;
  top:29px;
  width:222px;
  word-wrap:break-word;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u150 {
  position:absolute;
  left:719px;
  top:3562px;
  width:226px;
  height:81px;
  font-size:20px;
}
#u151 {
  position:absolute;
  left:2px;
  top:29px;
  width:222px;
  word-wrap:break-word;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u152 {
  position:absolute;
  left:991px;
  top:3562px;
  width:349px;
  height:81px;
  font-size:20px;
}
#u153 {
  position:absolute;
  left:2px;
  top:29px;
  width:345px;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:371px;
  top:3603px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:69px;
  height:8px;
}
#u155 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:662px;
  top:3603px;
  width:0px;
  height:0px;
}
#u156_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u157 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:945px;
  top:3603px;
  width:0px;
  height:0px;
}
#u158_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u159 {
  position:absolute;
  left:-27px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:495px;
  top:3552px;
  width:0px;
  height:0px;
}
#u160_seg0 {
  position:absolute;
  left:-4px;
  top:-189px;
  width:8px;
  height:190px;
}
#u160_seg1 {
  position:absolute;
  left:-4px;
  top:-189px;
  width:17px;
  height:8px;
}
#u160_seg2 {
  position:absolute;
  left:5px;
  top:-190px;
  width:8px;
  height:9px;
}
#u160_seg3 {
  position:absolute;
  left:5px;
  top:-190px;
  width:15px;
  height:8px;
}
#u161 {
  position:absolute;
  left:-50px;
  top:-111px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:510px;
  top:3460px;
  width:0px;
  height:0px;
}
#u162_seg0 {
  position:absolute;
  left:-17px;
  top:-4px;
  width:17px;
  height:8px;
}
#u162_seg1 {
  position:absolute;
  left:-17px;
  top:-4px;
  width:8px;
  height:6px;
}
#u163 {
  position:absolute;
  left:-57px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u164 {
  position:absolute;
  left:486px;
  top:3344px;
  width:207px;
  height:200px;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:832px;
  top:3643px;
  width:0px;
  height:0px;
}
#u166_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:101px;
}
#u166_seg1 {
  position:absolute;
  left:-4px;
  top:93px;
  width:17px;
  height:8px;
}
#u166_seg2 {
  position:absolute;
  left:5px;
  top:93px;
  width:8px;
  height:14px;
}
#u166_seg3 {
  position:absolute;
  left:5px;
  top:99px;
  width:27px;
  height:8px;
}
#u167 {
  position:absolute;
  left:-50px;
  top:60px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:936px;
  top:3709px;
  width:0px;
  height:0px;
}
#u168_seg0 {
  position:absolute;
  left:-21px;
  top:-4px;
  width:21px;
  height:8px;
}
#u168_seg1 {
  position:absolute;
  left:-21px;
  top:-4px;
  width:8px;
  height:45px;
}
#u168_seg2 {
  position:absolute;
  left:-91px;
  top:33px;
  width:78px;
  height:8px;
}
#u169 {
  position:absolute;
  left:-77px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u170 {
  position:absolute;
  left:851px;
  top:3689px;
  width:53px;
  height:38px;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u172 {
  position:absolute;
  left:936px;
  top:3683px;
  width:168px;
  height:51px;
  font-size:20px;
}
#u173 {
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  word-wrap:break-word;
}
#u174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u174 {
  position:absolute;
  left:936px;
  top:3770px;
  width:168px;
  height:51px;
  font-size:20px;
}
#u175 {
  position:absolute;
  left:2px;
  top:14px;
  width:164px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:936px;
  top:3796px;
  width:0px;
  height:0px;
}
#u176_seg0 {
  position:absolute;
  left:-21px;
  top:-4px;
  width:21px;
  height:8px;
}
#u176_seg1 {
  position:absolute;
  left:-21px;
  top:-52px;
  width:8px;
  height:56px;
}
#u177 {
  position:absolute;
  left:-67px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u178 {
  position:absolute;
  left:1158px;
  top:3683px;
  width:238px;
  height:51px;
  font-size:20px;
}
#u179 {
  position:absolute;
  left:2px;
  top:14px;
  width:234px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:1104px;
  top:3709px;
  width:0px;
  height:0px;
}
#u180_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u181 {
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u182 {
  position:absolute;
  left:1158px;
  top:3770px;
  width:238px;
  height:51px;
  font-size:20px;
}
#u183 {
  position:absolute;
  left:2px;
  top:14px;
  width:234px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:1104px;
  top:3796px;
  width:0px;
  height:0px;
}
#u184_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u185 {
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:584px;
  height:176px;
}
#u186 {
  position:absolute;
  left:180px;
  top:3985px;
  width:584px;
  height:176px;
}
#u187 {
  position:absolute;
  left:2px;
  top:80px;
  width:580px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u188 {
  position:absolute;
  left:163px;
  top:3898px;
  width:678px;
  height:77px;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:678px;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:347px;
}
#u190 {
  position:absolute;
  left:180px;
  top:4286px;
  width:567px;
  height:347px;
}
#u191 {
  position:absolute;
  left:2px;
  top:166px;
  width:563px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u192 {
  position:absolute;
  left:192px;
  top:4226px;
  width:500px;
  height:77px;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:345px;
}
#u194 {
  position:absolute;
  left:901px;
  top:4323px;
  width:522px;
  height:345px;
}
#u195 {
  position:absolute;
  left:2px;
  top:164px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u196 {
  position:absolute;
  left:901px;
  top:4226px;
  width:500px;
  height:77px;
  font-size:18px;
  text-align:center;
  line-height:36px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  word-wrap:break-word;
}
