body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u392 {
  position:absolute;
  left:55px;
  top:46px;
  width:133px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u393 {
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  white-space:nowrap;
}
#u394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:308px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:28px;
}
#u394 {
  position:absolute;
  left:67px;
  top:143px;
  width:1167px;
  height:308px;
  line-height:28px;
}
#u395 {
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  white-space:nowrap;
}
#u396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u396 {
  position:absolute;
  left:207px;
  top:65px;
  width:627px;
  height:18px;
}
#u397 {
  position:absolute;
  left:0px;
  top:0px;
  width:627px;
  white-space:nowrap;
}
#u398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:535px;
}
#u398 {
  position:absolute;
  left:87px;
  top:526px;
  width:690px;
  height:535px;
}
#u399 {
  position:absolute;
  left:2px;
  top:260px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:463px;
}
#u400 {
  position:absolute;
  left:763px;
  top:562px;
  width:597px;
  height:463px;
}
#u401 {
  position:absolute;
  left:2px;
  top:224px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
